
# ignore the .antigen directory
.antigen

# ignore build harness
*build-harness

# ignore the .gitconfig file
.gitconfig

.github_token

# ignore the share dir
share/*

# ignore installed vscode extensions
dotfiles/.vscode/extensions
